@media (max-width: 800px) {
    .container-contact{
        margin: 0rem;
    }

    .container-contact h1{
        font-size: 16px;
        margin-right: 0;
        padding-right: 0;
    }




/* Conteneur principal */
.divForm form{
    width: 15rem;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}
.divForm{
    margin: 0;
    margin-left: -4rem;
}



}