@media (max-width: 800px) {
    .container-contact{
        margin: 0rem;
    }

    .container-contact h1{
        font-size: 16px;
        margin-right: 0;
        padding-right: 0;
    }
    .container-contact .divForm{
        width: 30rem;
        font-size: 12px;
        margin-right: 20rem;
        display: flex;                  /* Active le modèle Flexbox */
        flex-direction: column;        /* Change la direction des éléments en colonne */
        align-items: center;           /* Centre les éléments horizontalement */
        justify-content: center;
    }
    .container-contact .divForm form {
        width: 15rem;
    }
    .container-contact .divForm form input{
        width: 5rem;
    }

  }