@media (max-width: 800px) {
    .container {
        display: flex;                  /* Active le modèle Flexbox */
        flex-direction: column;        /* Change la direction des éléments en colonne */
        align-items: center;           /* Centre les éléments horizontalement */
        justify-content: center;
    }
    .container div{
        margin-left: 2rem;
        margin-right: 4rem;
        margin-top: 1rem;
        width: 20rem;
    }
    .container div .subTitle{
        font-size: 17px;
    }
    .container div h1{
        font-size: 24px;
    }

  }
