@media (max-width: 800px) {
    .container-project {
        display: flex;                  /* Active le modèle Flexbox */
        flex-direction: column;        /* Change la direction des éléments en colonne */
        align-items: center;           /* Centre les éléments horizontalement */
        justify-content: center;
    }
    .container-project div{
            gap: 1rem;
            padding: 0.5rem 0.5rem;
            font-size: 13px;
            display: block;
            width: 20rem;
    }
    .container-project div button{
        font-size: 13px;
        width: 10rem;
    }
    .container-project div .subTitle{
        font-size: 17px;
    }
    .container-project h1{
        font-size: 24px;
        position: absolute;
        top: 0;
        margin-top: 6rem;

    

    }
    .container-project h2{
        font-size: 17px;
    }

  }