@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body main{
    
    font-family:  'outfit'; /* Police de base */
    line-height: 1.6; /* Hauteur de ligne */
    margin-top: 4rem; /* Marges par défaut */
    padding: 2rem 5rem; /* Espacement interne */
}
body nav{
    
    font-family:  'outfit'; /* Police de base */
}
body h1, h2{
    
    font-family:  'young-serif'; /* Police de base */
}


button{
    border-radius: 20px;
    border-color: black;
    background-color: white;
    padding: 10px;
    display: block;
    margin: 10px auto; /* Centre horizontalement */
}

/* 🌞 Style clair */
[data-theme="light"] {
	--bg-color: white;
	--text-color: #212121;
}

/* 🌚 Style sombre */
[data-theme="dark"] {
	--bg-color: #212121;
	--text-color: #ececec;
    --link-color: white;
}

html {
	background-color: var(--bg-color);
	color: var(--text-color);
    nav {
        color: var(--link-color);
    }
}
@media (max-width: 800px) {
    body main{
        font-size: 12px;
    }
    h1{
        font-size: 16px;
    }
}

